<div class="landing">
  <header>
    <app-navbar></app-navbar>
    <app-hero></app-hero>
  </header>
  <main>
    <section id="about_us" class="about-us">
      <div class="container text-center">
        <h2 class="h6 alt mute-text">About us</h2>
        <h3 class="h1 mb-4">A best place to enjoy <br> your life</h3>
        <div class="mid-center-container">
          <p class="mute-text">Transcorp Hilton Hotel is situated in the heart of Nigeria’s Federal Capital Territory, a 40-minute drive from the Nnamdi Azikiwe International Airport in Abuja. It is a 670–room, 5-star hotel that provides luxury accommodation, exotic cuisine, and fully equipped meeting rooms and to business travellers and tourists from all over the world</p>
        </div>

      </div>
      <div class="midsec">
        <div class="container">
          <div class="img mb-5">
            <img src="/assets/midsec.png">
          </div>
          <a href="#">View more photos</a>
        </div>
      </div>
    </section>
    <section id="promotions" class="promotions">
      <div class="container-fluid room-area">
        <div class="row">
          <div class="col-md-5">
            <div class="text-section">
              <h2 class="h6 alt mute-text">Discover our rooms</h2>
              <h3 class="mb-4">Luxury Interiors</h3>
              <div class="scroll-section">
                <div class="media">
                  <img src="/assets/interor-1.png" alt="">
                  <div>
                    <h4 class="h5">Classic Room</h4>
                    <h6>Starting at <span class="black">$40.00</span>/Night</h6>
                  </div>
                </div>
                <div class="media">
                  <img src="/assets/interior-2.png" alt="">
                  <div>
                    <h4 class="h5">Classic Room</h4>
                    <h6>Starting at <span class="black">$40.00</span>/Night</h6>
                  </div>
                </div>
                <div class="media">
                  <img src="/assets/interior-3.png" alt="">
                  <div>
                    <h4 class="h5">Classic Room</h4>
                    <h6>Starting at <span class="black">$40.00</span>/Night</h6>
                  </div>
                </div>
                <div class="media">
                  <img src="/assets/interior-2.png" alt="">
                  <div>
                    <h4 class="h5">Classic Room</h4>
                    <h6>Starting at <span class="black">$40.00</span>/Night</h6>
                  </div>
                </div>
                <div class="media">
                  <img src="/assets/interior-3.png" alt="">
                  <div>
                    <h4 class="h5">Classic Room</h4>
                    <h6>Starting at <span class="black">$40.00</span>/Night</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 promo-image"></div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="customers-say-card">
            <h2 class="h6 alt mute-text">Testimonials</h2>
            <h3 class="h2 mb-4">What guest Say</h3>
            <p class="quote">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum ratione error illum quidem recusandae atque vitae. Doloribus, soluta perferendis? Unde dignissimos similique eos fugiat culpa cumque harum ipsa aperiam?"</p>
            <div>
              <img src="/assets/guest-say.jpg" alt="">
            </div>
            <div class="guest-name mb-4">Farah Williams</div>
            
            <div class="nav-dots">
              <span class="active"></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <h2 class="h3 text-center mb-5">Latest from our blog</h2>
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="image-card">
                <img src="/assets/blog-1.png" alt="">
                <div class="card-body">
                  <span>April 10th, 2019</span>
                  <a href="#" class="title">
                    Five reasons to stay at the beautiful Transcorp Hotel
                  </a>
                  <div class="link">
                    Continue <i class="fa fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="image-card">
                <img src="/assets/blog-2.png" alt="">
                <div class="card-body">
                  <span>April 10th, 2019</span>
                  <a href="#" class="title">
                    Five reasons to stay at the beautiful Transcorp Hotel
                  </a>
                  <div class="link">
                    Continue <i class="fa fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="image-card">
                <img src="/assets/blog-3.png" alt="">
                <div class="card-body">
                  <span>April 10th, 2019</span>
                  <a href="#" class="title">
                    Five reasons to stay at the beautiful Transcorp Hotel
                  </a>
                  <div class="link">
                    Continue <i class="fa fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid room-area">
        <div class="row">
          <div class="col-md-7 maps-image"></div>
          <div class="col-md-5">
            <div class="text-section">
              <h2 class="h6 alt mute-text">Discover our rooms</h2>
              <h3 class="h3 mb-3">Luxury Interiors</h3>
              <h4>Abuja, <span class="mute-text">Nigeria</span></h4>
              <p class="mute-text mb-1">Address: 1 Aguiyi Ironsi St, Abuja 900001, Nigeria </p>
              <p class="mb-4 mute-text">
              Email: info@transcorphotelsplc.com</p>
              <p>Call directly</p>
              <h6 class="h3">+234 708 060 3000</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 mb-2">
          <ul class="footer-nav">
            <li>
              <a href="#">Site Map</a>
            </li>
            <li>
              <a href="#">Terms and Condition</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#">Affliate</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
          <ul class="footer-nav">
            <li>
              <a href="#">Our Location</a>
            </li>
            <li>
              <a href="#">Career</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
          <ul class="footer-nav">
            <li>
              <a href="#">FAQs</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Car Blog</a>
            </li>
            <li>
              <a href="#">Location</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 mb-2">
          <div class="newsletter">
            Sign up to get our newsletter
            <div class="form-group">
              <input type="text" placeholder="Enter Email...">
              <span class="icon">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="social-icons">
        <ul class="footer-nav horizontal">
          <li>
            <a href="#">
              <i class="fa fa-facebook-official"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>