.nav-area {
  .top-contact-area {
    padding: 5px 0;
    justify-content: space-between;
    color: #526173;
    border-bottom: 1px solid #e0e2e5;
    font-family: 'Open Sans', sans-serif;
    display: none;
    @media screen and (min-width: 768px){
      display: flex;
    }
  }

  a.logo img {
    width: 190px;
  }
}
.app-navbar {
  display: none;
  padding: 24px 0;
  @media screen and (min-width: 768px){
    display: block;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    li {
      display: block;
      a {
        display: block;
        text-decoration: none;
        color: #526173;
        text-transform: uppercase;
        padding: 15px 0;
      }
    }
  }
}
.mobile-navbar {
  position: relative;
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .bar {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.nav-items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    li {
      display: block;
    }
    li.contact {
      display: flex;
      justify-content: space-between;
      padding: 8px;
    }
    li a {
      color: #526173;
      text-transform: uppercase;
      padding: 8px;
      display: block;
      text-decoration: none;
    }
  }
}